* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #0000ff;
}
a:hover {
    text-decoration: underline;
}

blockquote {
  display: block;
  font-family: 'Roboto Slab', 'Sans-Serif';
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

body {
    margin: 60px auto;
    width: 70%;
    /*font-family: 'Indie Flower';*/
    font-family: 'Roboto Slab', 'Sans-Serif';
    font-style: normal;
    font-weight: 200;
    height: 100%;
}

b {
  font-weight: 800
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 33.3%;
}

/* Parent Container */
.content {
  background-color: white;
  padding: 10px;
  position: relative;
}

/* Child Text Container */
.content div{
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* Hover on Parent Container */
.content:hover {
  cursor: pointer;
  border: 1.5px solid #777;
}

.content:hover .overlay{
  visibility: visible;
  opacity: 0.7;
}

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  height: "300";
  position:relative;
}

.gallery:hover {
  cursor: pointer;
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: lightblue;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    font-family:'Roboto Slab', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 48px;
    word-break: break-all;
  }

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  word-break: break-all;
}

/*li a{
  display: block;
  color: #000;
  padding: 8px 16px;
}

li a.active {
  background-color: #5daf4c;
}*/
.main {
  max-width: 1000px;
  margin:auto;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.multiline {
  white-space: pre-wrap;
}

.nav ul {
    font-family:'Roboto Slab', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.nav li:last-child {
  margin-right: 0;
}

/* Customize Overlay */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

/* Customize Overlay Text */
.overlay_text {
  color: green;
  font-size: 18px;
  font-family: 'Roboto Slab';
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-20%, -20%);
  -ms-transform: translate(-20%, -20%);
}

p {
    font-size: 1.2em;
    line-height: 1.15em;
    font-weight: 200
    color: #D3D3D3
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 6px;
}

/* Clear floats after rows */
.row::after {
  content: "";
  display: table;
  clear:both;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;

}

ul.posts li {
    list-style: none;
    font-size: 1.1em;
}
