a {
    text-decoration: none;
    color: #0000ff;
}
a:hover {
    text-decoration: underline;
}

blockquote {
  display: block;
  font-family: 'Indie Flower', cursive;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
}

body {
    margin: 60px auto;
    width: 70%;
    /*font-family: 'Indie Flower', cursive;*/
    font-family:
    height: 100%;
}

b {
  font-weight: 800
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: lightblue;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

h1 {
    font-family: 'Tangerine', serif;
    font-size: 48px;
  }

.multiline {
  white-space: pre-wrap;
}

nav ul, footer ul {
    font-family:'Roboto Slab', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}


p {
    font-size: 1.2em;
    line-height: 1.15em;
    font-weight: 200
    color: #DCDCDC;
}


ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;

}

ul.posts li {
    list-style: none;
}
