* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: #0000ff;
}
a:hover {
    text-decoration: underline;
}

blockquote {
  display: block;
  font-family: 'Roboto Slab', 'Sans-Serif';
  margin-top: 1em;
  margin-bottom: 1em;
  width:90%;
}

body {
    margin: 60px auto;
    /*font-family: 'Indie Flower';*/
    font-family: 'Roboto Slab', 'Sans-Serif';
    font-style: normal;
    font-weight: 300;
    height: 100%;
    word-spacing: 3px;
    color: #4d4d4d;
}

b {
  font-weight: 800
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Create two equal columns that floats next to each other */
.column2 {
  float: left;
  width: 50.0%;
}

/* Create three equal columns that floats next to each other */
.column3 {
  float: left;
  width: 33.3%;
}

.container{
  width:70%;
  margin:30px auto;
  padding:10px;
}


/* Parent Container */
.content {
  background-color: white;
  padding: 10px;
  position: relative;
  width: 50%;
}

.content-area{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

/* Child Text Container */
.content div{
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

/* Hover on Parent Container */
.content:hover {
  cursor: pointer;
  border: 1.5px solid #777;
}

.content:hover .overlay{
  visibility: visible;
  opacity: 1;
}

/* Create color palette for body chunks */

div.cyan{
  background-color: #00FFFF;
  border-bottom: 5px solid #00CCFF;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: lightblue;
}

div.blue{
  background-color: #b0cbdb;
  border-bottom: 5px solid #a0bfd1;
}

div.green{
  background-color: #badbb0;
  border-bottom: 5px solid #a7cf9b;
}

/* Full-width background, fixed-width content */
div.inner{
  width:80%;
  margin:0 auto;
}

div.white{
  background-color: #E0E0E0;
  border-bottom: 5px solid #D0D0D0;
}

/* Create flex container with 80% wideth and responsive display*/

.flex-container{
  margin-left: 10%;
  margin-top: 30px;
  width: 80%;
  border: 5px solid #2d2d2d;
  display:flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
}

.flex-container > *

.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  height: "300";
  position:relative;
}

.gallery:hover {
  cursor: pointer;
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}


footer {
    border-top: 1px solid #d5d5d5;
    font-size: .85em;
}

footer ul {
    font-family:'Roboto Slab', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

/* Headers */

h1 {
    font-family: 'Tangerine', serif;
    font-size: 54px;
    word-break: break-word;
  }

h2 {
  font-family: 'Tangerine', serif;
  font-size: 40px;
  word-break: break-word;
  margin-bottom: 15px;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-size: 32px;
  word-break: break-word;
}


h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 28px;
  word-break: break-word;
}

h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  word-break: break-word;
}

h6 {
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  word-break: break-word;
}

html{
  scroll-behavior: smooth;
}

.left-content{
  flex:1;
  min-width: 100px;
  margin: 10px;
  padding: 10px;
}

li {
  font-size:1.1em;
  margin-left: -5px;
  line-height: 1.5em;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.middle-content{
  flex:1;
  min-width: 100px;
  margin: 20px;
  padding: 10px;
}

.multiline {
  white-space: pre-wrap;
}

nav {
  ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav{

    margin-right: 0 auto 0 auto;
    width: 70%;
    background: darken());
    color: #f0f0f0;
}

.nav ul {
    font-family:'Roboto Slab', 'Arial', 'Sans-Serif';
    padding: 3px;
    list-style: none;
    font-weight: bold;
}

.nav a {
  display: block;
  padding: 0 25px;
  line-height: inherit;
  cursor: pointer;
}

.nav__menu {
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.nav__menu-item {
  display: inline-block;
  position: relative;
}
.nav__menu-item:hover {
  background-color: #9b59b6;
  opacity: 0.7;
}
.nav__menu-item:hover .nav__submenu {
  display: block;
}
.nav__submenu {
  font-weight: 250;
  text-transform: none;
  display: none;
  position: absolute;
  width: 250px;
  background-color: #9b59b6;
}
.nav__submenu-item:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* Customize Overlay */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

/* Customize Overlay Text */
.overlay_text {
  color: green;
  font-size: 18px;
  font-family: 'Roboto Slab';
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-20%, -20%);
  -ms-transform: translate(-20%, -20%);
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
    font-weight: 300;
    word-break: break-word;
}

#particles-js{
  width:100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('https://raw.githubusercontent.com/son520804/son520804.github.io/master/background.png');
  display: flex;
  justify-content: center;
  align-items: center;
}

.particles-js-canvas-el{
  position: absolute;
}

.right-content{
  flex:1;
  min-width: 100px;
  margin: 10px;
  padding: 10px;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 6px;
}

/* Clear floats after rows */
.row::after {
  content: "";
  display: table;
  clear:both;
}

/* Design the scroll down button */
.scroll-down{
  outline:none;
  margin-top: 50px;
  padding:15px;
  font-size:20px;
  cursor:pointer;
  background: LightGreen;
  border:2px solid #2ECC71;
  border-radius: 10px;
  width:35%;
}
.scroll-down::before,
.scroll-down::after{
  content: "";
  position:absolute;
  top:20%;
  left:50%;
  height:10px;
  width:10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1.2s ease-in-out infinite;
}
.scroll-down::before{
  top: 20%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {

  0%{
    opacity: 0;
  }

  30%{
    opacity: 1;
  }

  60%{
    opacity: 1;
  }

  100%{
    top:90%;
    opacity: 0;

  }
}

.btn{
  border:none;
  outline:none;
  padding:15px;
  margin-top: 50px;
  border-radius: 4px;
  font-size:20px;
  cursor:pointer;
  color:grey;
  background: LightGreen;

}

#sec-2{
  background-color: #b0cbdb;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;

}

ul.posts li {
    list-style: none;
    font-size: 1.0em;
}

.welcome {
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  color: #fff;
}

.welcome h1 {

  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: "Lucida Console", "Courier New", monospace;
}

.welcome h2 {

  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Lucida Console", "Courier New", monospace;
}



/* Global color variables */
