<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>


			<nav class="nav">
	    		<ul class="nav__menu">
	        		<li class="nav__menu-item"><a href="/">Home</a></li>
		        	<li class="nav__menu-item"><a href="/about">About</a></li>
	        		<li class="nav__menu-item"><a href="/cv">Research</a></li>
	        		<li class="nav__menu-item"><a href="/Teaching">Teaching</a></li>
							<li class="nav__menu-item"><a href="/Personal">Personal Life</a>
								<ul class="nav__submenu">
									<li class="nav__submenu-item"><a href="/Teaching/Bayesian Analysis">Bayesian Analysis</a></li>
									<li class="nav__submenu-item"><a href="/Teaching/Fundamental Python">Python Basic</li>
									<li class="nav__submenu-item"><a href="/Teaching/Machine Learning">Machine Learning</li>
									<li class="nav__submenu-item"><a href="/Teaching/Music">Music</li>
									<li class="nav__submenu-item"><a href="/Teaching/Regression and Linear Models">Regression and Linear Models</li>
									<li class="nav__submenu-item"><a href="/Teaching/Theoretical Statistics">Statistical Theory</li>
									<li class="nav__submenu-item"><a href="/Teaching/Visualization">Visualization</li>
								</ul>
							</li>
							<li style="float:right"><a class="active" href="/cv/In Son Zeng Resume.pdf">Resume</a></li>
	    		</ul>
			</nav>

			{{ content }}
			<footer>

				<nav class="nav">
		    		<ul class="nav__menu">
		        		<li class="nav__menu-item"><a href="/">Home</a></li>
			        	<li class="nav__menu-item"><a href="/about">About</a></li>
		        		<li class="nav__menu-item"><a href="/cv">Research</a></li>
		        		<li class="nav__menu-item"><a href="/Teaching">Teaching</a></li>
								<li class="nav__menu-item"><a href="/Personal">Personal Life</a>
									<ul class="nav__submenu">
										<li class="nav__submenu-item"><a href="/Teaching/Bayesian Analysis">Bayesian Analysis</a></li>
										<li class="nav__submenu-item"><a href="/Teaching/Fundamental Python">Python Basic</li>
										<li class="nav__submenu-item"><a href="/Teaching/Machine Learning">Machine Learning</li>
										<li class="nav__submenu-item"><a href="/Teaching/Music">Music</li>
										<li class="nav__submenu-item"><a href="/Teaching/Regression and Linear Models">Regression and Linear Models</li>
										<li class="nav__submenu-item"><a href="/Teaching/Theoretical Statistics">Statistical Theory</li>
										<li class="nav__submenu-item"><a href="/Teaching/Visualization">Visualization</li>
									</ul>
								</li>
								<li style="float:right"><a class="active" href="/cv/In Son Zeng Resume.pdf">Resume</a></li>
				        <li class="nav__menu-item"><a href="mailto:sonson520804@gmail.com">email</a></li>
				        <li class="nav__menu-item"><a href="https://github.com/son520804">github.com/son520804</a></li>
		    		</ul>
				</nav>
			</footer>
		</body>
	</html>
