<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

		</head>
		<body>
			<nav class="nav">
	    		<ul class="nav__menu">
	        	<li class="nav__menu-item"><a href="/">Home</a></li>
		        <li class="nav__menu-item"><a href="/about">About</a></li>
	        	<li class="nav__menu-item"><a href="/research">Research</a></li>
	        	<li class="nav__menu-item"><a href="/Teaching">Teaching</a>
							<ul class="nav__submenu">
								<li class="nav__submenu-item"><a href="/Teaching/Bayesian Analysis">Bayesian Analysis</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Fundamental Python">Python Basic</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Machine Learning">Machine Learning</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Music">Music</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Regression and Linear Models">Regression and Linear Models</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Theoretical Statistics">Statistical Theory</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Visualization">Visualization</a></li>
							</ul>
						</li>
						<li class="nav__menu-item"><a href="/SOT">Statement of Teaching</a></li>
						<li class="nav__menu-item"><a href="/Personal">Personal Life</a></li>
						<li style="float:right"><a class="active" href="/research/Curriculum_Vitae1.pdf">CV</a></li>
						<li class="nav__menu-item"><a href="/Conference">Conference</a>
							<ul class="nav__submenu">

								<li class="nav__submenu-item"><a href="/Conference/LAK">Learning Analytics & Knowledge</a></li>
								<li class="nav__submenu-item"><a href="/Conference/CHI">CHI Conference/a></li>
							</ul>
						</li>


	    		</ul>
			</nav>

			{{ content }}

			<footer>

				<nav class="nav">
					<ul class="nav__menu">
						<li class="nav__menu-item"><a href="/">Home</a></li>
						<li class="nav__menu-item"><a href="/about">About</a></li>
		        <li class="nav__menu-item"><a href="/research">Research</a></li>
						<li class="nav__menu-item"><a href="/Teaching">Teaching</a>
							<ul class="nav__submenu">
								<li class="nav__submenu-item"><a href="/Teaching/Bayesian Analysis">Bayesian Analysis</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Fundamental Python">Python Basic</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Machine Learning">Machine Learning</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Music">Music</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Regression and Linear Models">Regression and Linear Models</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Theoretical Statistics">Statistical Theory</a></li>
								<li class="nav__submenu-item"><a href="/Teaching/Visualization">Visualization</a></li>
							</ul>
						</li>
						<li class="nav__menu-item"><a href="/SOT">Statement of Teaching</a></li>
						<li class="nav__menu-item"><a href="/Personal">Personal Life</a></li>
						<li style="float:right"><a class="active" href="/research/Curriculum_Vitae1.pdf">CV</a></li>
						<li class="nav__menu-item"><a href="/Conference">Conference</a>
							<ul class="nav__submenu">
								<li class="nav__submenu-item"><a href="/Conference/LAK">Learning Analytics & Knowledge</a></li>
								<li class="nav__submenu-item"><a href="/Conference/CHI">CHI Conference/a></li>
							</ul>
						</li>


						<li class="nav__menu-item"><a href="mailto:insonz@umich.edu">email</a></li>
						<li class="nav__menu-item"><a href="https://github.com/son520804">github.com/son520804</a></li>
					</ul>
				</nav>
			</footer>
		</body>
	</html>
